.visaCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 350px;
  height: 200px;
  background-image: radial-gradient(circle 897px at 9% 80.3%, rgba(55, 60, 245, 1) 0%, rgba(234, 161, 15, 0.9) 100.2%);
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  gap: 15px;
}

.logoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px;
}

.svgLogo {
  height: 40px;
  width: auto;
}

.inputStyle::placeholder {
  color: #ffffff;
}

.inputStyle {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  caret-color: red;
  font-size: 13px;
  height: 25px;
  letter-spacing: 1.5px;
}

.numberContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

#cardNumber {
  width: 100%;
  height: 25px;
}

.nameDateCvvContainer {
  width: 100%;
  height: 25px;
  display: flex;
  gap: 10px;
}

.nameWrapper {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.expiryWrapper,
.cvvWrapper {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.cvvWrapper {
  width: 10%;
}

#expiry,
#cvv {
  width: 100%;
}

.inputLabel {
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  color: #e2e2e2;
  width: 100%;
}


@media (max-width:768px) {
  .visaCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 300px;
    height: 180px;
    background-image: radial-gradient(circle 897px at 9% 80.3%, rgba(55, 60, 245, 1) 0%, rgba(234, 161, 15, 0.9) 100.2%);
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    gap: 15px;
  }

  .inputLabel {
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    color: #e2e2e2;
    width: 100%;
  }
}